<header>
    <link
        href="https://fonts.googleapis.com/css?family=Abel|Baskervville|EB+Garamond|Open+Sans|Playfair+Display|Questrial&display=swap"
        rel="stylesheet">
    <h1>{{title}}</h1>
    <div id="div__header">
        <a id="weather__header" href="/">Weather</a>
        <a id="About__header" href="/about">About</a>
        <a id="Help__header" href="/help">Help</a>
        <a id="News__header" href="/news">News</a>
    </div>
</header>